{% extends "aplicacion/index.html" %}
{%load static%}


<!-- Se remueve la imagen -->
{% block imagen %}
    
{% endblock imagen %}
    

{% block titulo %}
    <h1 class="masthead-heading text-uppercase mb-0">Añadir Articulos</h1>
{% endblock titulo %}


<!-- Se cambia el ícono entre las barras -->
{% block icono %}
    <div class="divider-custom-icon"><i class="fa-solid fa-square-plus fa-xl"></i></div>
{% endblock icono %}  
    
<!-- Se remueve la barra de búsqueda de index.html -->
{% block buscar %}
    
{% endblock buscar %}


{% block contenido %}
        
    <div class="container m-3">
        <form action = "" method = "post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Guardar" class="btn btn-dark my-2">
        </form>           
    </div>
        

{% endblock contenido %}
    