{% extends "aplicacion/index.html" %}
{%load static%}


{% block imagen %}
    <img class="masthead-avatar mb-5" src="{% static 'assets/img/clientes.png' %}" alt="..." />
{% endblock imagen %}



{% block titulo %}
    <h1 class="masthead-heading text-uppercase mb-0">Clientes</h1>
{% endblock titulo %}
    


{% block icono %}
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
{% endblock icono %}  


{% block buscar %}
    
{% endblock buscar %}



{% block contenido %}

    <div class="container m-1 p-0">
        <button type="button" class="btn btn-dark m-3">
            <a href="{% url 'clientes_form' %}" style="color: white; font-weight: bold; text-decoration: none">Añadir</a>
        </button>
    </div>

    <table class="table table-striped m-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
        {% for c in clientes  %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.nombre }}</td>
                <td>{{ c.apellido }}</td>
                <td>{{ c.telefono }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock contenido %}